
body,
main::before {
               background: url(../img/burger.jpg) 0 / cover fixed;
}

main {
    color: white;
       margin: 100px auto;
       position: relative;
       padding: 10px 5px;
       background: hsla(0,0%,100%,.2);
       font-size: 20px;
       font-family: 'Lora', serif;
       line-height: 1.5;
       border-radius: 10px;
       width: 60%;
       box-shadow: 5px 3px 30px black;
       overflow: hidden;
}

main::before {
               content: '';
               margin: -35px;
               position: absolute;
               top: 0;
               right: 0;
               bottom: 0;
               left: 0;
               filter: blur(10px);
               z-index: -1;
}



.container {
    max-width: 600px;
}

.submit-btn{
    margin-top:25px;
}

#ca {
    color:black;
}